pyrofork==2.3.45
tgcrypto
requests
beautifulsoup4
shortzy
pytz
aiohttp
yt-dlp
jinja2
apscheduler
pyshorteners
colorama
numpy
wheel
ujson
wget
aiofiles
hachoir
python-decouple
ffmpeg-python>=0.2.0
pymongo[srv]==4.6.3
motor==3.3.2
marshmallow==3.20.1
python-dotenv
gTTS
humanize
Pillow>=10.0.0
psutil
dnspython
flask
